# Java build output
/target/
*.class

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Logs
*.log

# Environment
.env

# Application properties (optional if storing secrets here)
src/main/resources/application.properties
src/main/resources/application.yml

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db


# don't track sensitive local variables 
application.properties